.country{
    padding: 20px;
    margin: 20px;
    border: 2px solid tomato;
    border-radius: 15px;
}

.w{
    width: 160px;
}

.visited{
    background-color: slategray;
    
}
.non-visited{
    background-color: slateblue;
}